In [11]:
import numpy as np
import pickle
import glob
import os

import neuraltda.topology2 as tp2
import pandas as pd
from joblib import Parallel, delayed
import neuraltda.simpComp as sc
import neuraltda.topology2 as tp2
import neuraltda.spectralAnalysis as sa
import pickle
import glob
import os
from ephys import core, events, clust
import numpy as np
import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
scgFold = '/home/brad/emily/P01S15/scg/'

In [4]:
scgfOld = glob.glob(os.path.join(scgFold, '*-Targ-correct-wide.scg'))[0]
print(scgfOld)

IndexError: list index out of range

In [5]:
scgfNew = glob.glob(os.path.join(scgFold, '*-Targ-correct-wide.scg'))[0]
print(scgfNew)

/home/brad/emily/P01S15/scg/20170516T175952Z-10.0-5.0-13.0-Targ-correct-wide.scg

In [ ]:
with open(scgfOld, 'r') as f:
    scgOld = pickle.load(f)

In [6]:
with open(scgfNew, 'r') as f:
    scgNew = pickle.load(f)

In [10]:
len(scgNew['T3S3D40'])

29

In [14]:
# Bin The Data

# Correct/Incorrect
winSizes = [5.0, 10.0, 25.0, 50.0]
segmentInfo = [0, 0] # Sample + Target/Distractor period
#segmentInfo = [2500, 0] # Target+Distractor period
povers = 0.5

blockPath='/home/brad/emily/P01S15/'

winSize = 10.0 #ms
thresh = 13.0
povers = 0.5
cluster_group = ['Good', 'MUA']
widenarrow_threshold = 0.000230 # sw threshold in seconds
segmentInfo = [2500, 0] # SD period
spikes = core.load_spikes(blockPath)
trials = events.load_trials(blockPath)
fs = core.load_fs(blockPath)

#Get Wide/Narrow Clusters
clusters = core.load_clusters(blockPath)
clusters_list = clusters[clusters.quality.isin(cluster_group)]['cluster'].unique()

(wide, narrow) = clust.get_wide_narrow(blockPath, clusters_list, widenarrow_threshold)

# Get Passive Trials
passiveTrials = trials[-(trials['correct'].isin([True, False]))]

In [15]:
passiveTrials

,recording,time_samples,stimulus,stimulus_end,response,response_time,consequence,correct,datetime,correction
34,13,50001,T3S8D-1,162500,N,275000.0,NaN,NaN,2016-07-05 13:01:57.994400,True
220,30,50001,T3S3D40,162501,N,275001.0,NaN,NaN,2016-07-05 13:04:51.187560,True
515,99,50000,T3S3D-1,162500,NaN,NaN,NaN,NaN,2016-07-05 13:15:43.638640,True
2,100,50001,T-1S-1D40,100001,NaN,NaN,NaN,NaN,2016-07-05 13:15:51.895240,True
3,101,50001,T3S8D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 13:15:57.404400,True
4,102,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:16:05.874800,True
5,103,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:16:14.103680,True
6,104,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:16:21.854920,True
7,105,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:16:30.150960,True
8,106,50001,T-1S-1D40,100001,NaN,NaN,NaN,NaN,2016-07-05 13:16:38.200800,True
9,107,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:16:44.194160,True
10,108,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:16:52.511960,True
11,109,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:00.785960,True
13,110,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:09.372440,True
14,111,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:17.008160,True
15,112,50001,T3S3D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:25.306000,True
16,113,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:33.618960,True
17,114,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:41.681760,True
18,115,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:49.287800,True
19,116,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:17:57.777920,True
20,117,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:18:05.694920,True
21,118,50001,T-1S-1D40,100001,NaN,NaN,NaN,NaN,2016-07-05 13:18:13.980280,True
22,119,50001,T3S3D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 13:18:19.171800,True
24,120,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:18:26.870040,True
25,121,47583,T3S8D-1,160083,NaN,NaN,NaN,NaN,2016-07-05 13:18:35.017040,True
26,122,50001,T3S3D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 13:18:42.859040,True
27,123,47806,T3S3D-1,160306,NaN,NaN,NaN,NaN,2016-07-05 13:18:50.586000,True
28,124,42867,T3S8D-1,155367,NaN,NaN,NaN,NaN,2016-07-05 13:18:58.166040,True
29,125,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:19:06.023080,True
30,126,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 13:19:14.249200,True
...,...,...,...,...,...,...,...,...,...,...
377,441,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:06:38.141600,True
378,442,50001,T3S3D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:06:45.741920,True
379,443,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:06:53.751760,True
380,444,50001,T3S8D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:01.952920,True
381,445,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:10.292880,True
382,446,50001,T-1S-1D40,100001,NaN,NaN,NaN,NaN,2016-07-05 14:07:18.219840,True
383,447,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:24.164600,True
384,448,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:32.601680,True
385,449,50001,T3S8D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:40.321720,True
387,450,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:48.584320,True
388,451,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:07:56.367640,True
389,452,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:04.372440,True
390,453,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:12.148640,True
391,454,50001,T3S8D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:19.914560,True
392,455,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:28.512440,True
393,456,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:36.743800,True
394,457,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:45.137640,True
395,458,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:08:53.358000,True
396,459,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:09:01.218120,True
398,460,50001,T3S3D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:09:09.363320,True
399,461,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:09:17.708480,True
400,462,50001,T3S8D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:09:25.341440,True
401,463,50001,T3S8D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:09:33.757520,True
402,464,40987,T-1S-1D40,90986,NaN,NaN,NaN,NaN,2016-07-05 14:09:41.573720,True
403,465,50001,T-1S-1D40,100001,NaN,NaN,NaN,NaN,2016-07-05 14:09:47.611520,True
404,466,50001,T3S3D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:09:53.440000,True
405,467,50001,T3S3D40,162501,NaN,NaN,NaN,NaN,2016-07-05 14:10:01.261840,True
406,468,46828,T3S3D-1,159328,NaN,NaN,NaN,NaN,2016-07-05 14:10:08.951000,True
407,469,50001,T3S8D-1,162501,NaN,NaN,NaN,NaN,2016-07-05 14:10:17.002000,True
457,514,50001,T3S8D40,162500,N,275000.0,NaN,NaN,2016-07-05 14:17:41.621040,True